.default-button
{
    background-color: rgb(244, 158, 54);
    color: white;
    border: 1px solid;
    border-radius: 8px;
    padding: 6px 10px;
    cursor: pointer;
}

.default-button:hover
{
    background-color: rgb(221, 143, 48);
}

#new-item-input
{
    margin-bottom: 10px;
    padding: 8px;
    width: 30%;
    border: 1px solid #ddd;
    border-radius: 8px;
}

li
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border: 1px solid #ddd;
    margin: 4px 0;
    border-radius: 8px;

}

.list-container
{
    width: 40%;
}